@{
    ViewData["Title"] = "Профиль";
}

<h1>Профиль</h1>

<body>

    E-Mail <br>
    <form> <input type="text"> </form> <br>
    Пароль <br>
    <form> <input type="text"> </form> <br>
    <input type="button" name="Войти" value="Войти" />

</body>