@model IEnumerable<ProductTypes>

@{
    ViewData["Title"] = "Тип продукта";
}


<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Список</h2>
    </div>
    <div class="col-6 text-info-rigth">
        <a asp-action="Create" class="btn btn-info">&nbsp; Новый тип продукта</a>
    </div>
</div>
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(expression: c=>c.ProductType)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
         { 
            <tr>
                <td>@item.ProductType</td>
                <td>Изменить | Инфо. | Удалить</td>
            </tr>
         }
    </table>
</div>