@{
    ViewData["Title"] = "Корзина";
}

<h1>Корзина</h1>

<table border="1">    
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Фото</th>
        <th></th>
    </tr>
    <tr>
        <td>1</td>
        <td>Здесь будет название</td>
        <td>Здесь будет цена</td>
        <td>Здесь будет количество</td>
        <td>Здесь будет фото</td>
        <td>Удалить</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Здесь будет название</td>
        <td>Здесь будет цена</td>
        <td>Здесь будет количество</td>
        <td>Здесь будет фото</td>
        <td>Удалить</td>
    </tr>
</table> <br>

<input type="button" name="Заказать" value="Заказать" />
