@{
    ViewData["Title"] = "Обратная связь";
}

<h1>Обратная связь</h1>

<body>

    Имя <br>
    <form> <input type="text"> </form> <br>
    Фамилия <br>
    <form> <input type="text"> </form> <br>
    Отчество <br>
    <form> <input type="text"> </form> <br>
    E-Mail <br>
    <form> <input type="text"> </form> <br>
    <input type="button" name="Отправить" value="Отправить" />

</body>