* {
    margin: 0;
    padding: 0;
}

body {
    background: silver;  
    font-family: 'Montseratt' , sans-serif;
}

header {
    width: 80%;
    padding: 20px 10%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0026ff;
    border-bottom: 2px solid #000;
}

    header.logo {
        font-weight: 900;        
        font-size: 300px;
    }

    header nav a:hover {
        text-decoration: none;
    }

main {
    width: 80%;
    padding: 15px 10%;
    margin: 50px 0;
}


