
* {
    margin: 0;
    padding: 0;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background: #fff;
    color: #000000;
}

header {
    width: 80%;
    padding: 20px 10%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #008B8B;    
}

    header.logo {
        font-weight: 900;                
    }

    header nav a:hover {
        text-decoration: none;
    }

main {
    width: 80%;
    padding: 15px 10%;
    margin: 50px 0;
}

