@{
    ViewData["Title"] = "Каталог";
}

<h1>Каталог</h1>

<table border="1">
    <tr>
        <th>Название</th>
        <th>Фото</th>
        <th>Цена</th>
        <th>В наличии</th>
        <th></th>
    </tr>
    <tr>        
        <td>Здесь будет название</td>
        <td>Здесь будет фото</td>
        <td>Здесь будет цена</td>
        <td>Здесь будет количество</td>        
    </tr>
    <tr>
        <td>Здесь будет название</td>
        <td>Здесь будет фото</td>
        <td>Здесь будет цена</td>
        <td>Здесь будет количество</td>
    </tr>
</table>